body {
    margin: 0;
    padding: 20px;
    font-family: "Comic Sans MS", "Marker Felt", cursive;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenido de la página web */
h1 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 30px;
}

input[type="text"] {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-family: inherit;
    color: #777;
}
